{% include 'header.html' %}

<div class="container" role="report">
    <div class="page-header">
        <h1 id="top">REDOVISNING.</h1>

        <a href="#kmom01">Kmom01</a>
        <a href="#kmom02">Kmom02</a>
        <a href="#kmom03">Kmom03</a>
        <a href="#kmom04">Kmom04</a>
        <a href="#kmom05">Kmom05</a>
        <a href="#kmom06">Kmom06</a>
        <a href="#kmom07-10">Kmom07-10</a>
        <br>
        <p>Jag heter {{ name }} {{ sir }} och jag har hunnit bli {{ age }}år. Detta är min redovisningssida.</p>

        <h3>Detta är min första app sida med FLASK och tydligen jinja som jag i skrivande stund inte vet vad det är.</h3>
    </div>
<div class="article">
    <div>
    <h3 id="kmom01">Kmom01</h3>
        <p>Det var inga problem att intallera Flask. Det var heller inta problem med att sätta upp den virtuella miljön. </p>
        <p>Innan denna kursstart var jag inte bekant med objekt och klasser, i den bemärkelsen att det går att skapa dessa själva. Indirekt har vi arbetat med det då vi tilldelat variabler klasser och jobbat med liknande sätt i Javascriptkursen. Skillnaden i Javascript är att vi har ett objekt som vi tilldelar olika värden/'attribut' men att i Python skapar vi objekt av klassen. </p>
        <p>Objekt skapade av klassen kallas för en instans av den klassen. Vi kan skapa metoder i klassen som är beroende av instansen eller inte. En instansmetod kräver själva objektet/instansen medan en statisk kan kallas på utan instansen. Själva terminologin och hur allt detta hör ihop är fortfarande något rörigt. Men hoppas att det sätter sig längre fram. </p>
        <p>Gällande programmeringsparadigmer har jag inte riktigt förstått vad det är ens, men med lite googlande; som jag förstår det är det hur vi sturkturerar upp sin kod, eller hur vi kodar. Att det går att koda enligt logik, block, funktion eller som i detta fall objektorienterat. Vi kodar efter hur objekten ska och får bete sig. Exakt vad vi har kodat i för struktur innan vet jag dock inte. </p>
        <p>Bootstrap, Flask, Jinja2, Pip3 sallt är nytt! Just Bootstrap var spännande och nytt, ett onlinebaserat theme som förutom ska vara snygg också framförallt ska vara funktionellt. Kul! Men väldigt svårt att ändra i stilen då alla classer inte var lätta att hantera. Så i detta kursmoment har jag ändrat väldigt lite då jag inte lyckades ändra rätt element. </p>
        <p>Det gick bra att komma igång med kursmomentet. Alldeles perfekt. roligt också att jag fastnade i labben för att jag missat att ni ändrat plats på namn och ögonfärg som jag bara rakt av skrev in i min nya instans. </p>
        <a href="#top">Upp > </a>
    <a href="#top">Upp > </a>
    <h3 id="kmom02">Kmom02</h3>
    <p>Objektorientering och arv är väl bra i all sorts medlem/användar hantering? Vare sig det är personal i ett personalsystem eller spelare i ett spel. Låt säga att det är personal, alla skulle vara en is-a Personal där alla has-a salary och kanske personalinformation. Men så kan personalen vara anställd på olika avdelningar och ha olika acesser t.ex. All personal har access till byggnaden men teknikerna har access till teknikerrummen, admin till adminrum.</p>
    <p>Polymorfism hade jag inte hört förut, men förstår att det är det som refereras som "overriding" vilket är när våra childobjekt tilldelas metoder med samma namn som skriver över sina parent metoder. Eller egentligen kan väl en overriding ske över fler "generationer" en subklass kan skriva över sin superklass.</p>
    <p>Vad jag förstått är inget hemligt. Det går att däremot att skriva in i sina metoder så att du inte kan komma åt all information från användargränssnittet (publika interface).</p>
    <p>Uppgiften var jättebra! Men kanske lite tidigt i kursen? Det var svårt att förstå koden. Den videon som ni la upp som komplement - för att förstå hur det var tänkt med de olika metoderna var bra! Hade till en början missförstått vad som skulle lagras var - även om det stod som en punkt i kravet. Alltså att score och quest_count skulle lagras i session och inte själva frågorna. Vilket ju är logiskt när en tänker på det.
    <p>Valde att göra text som min bastyp för att det kändes lättast.</p>
    Har tjuvkikat på kmom03 och förstått att det är ytterligare ett spel och jag kommer förhoppningsvis att förstå sessions bättre under arbetet med den. Nu har dock tiden tagit översskridits för detta kmom02.</p>
    <p>Jag tycker denna sortens uppgift är bra. Det känns lite mer "verkligt". Min uppmaning är ändå att fortsätta med sådana. Även om jag blir tokig och nu ligger efter en halv vecka med studierna!</p>
    <p>Och jo, en liten feedback på beskrivningen av session i artikeln/övningen. Det skulle behöva förtydligas vad vi faktiskt gör. Kanske en liten förklaringsvideo. Med olika exempel. Om vi ska lagra en lista i sessions, eller bara olika objektattribut osv. </p>




    <a href="#top">Upp > </a>
    <h3 id="kmom03">Kmom03</h3>
    <p>Hade aldrig hört talas om unittester eller UML tidigare. Mer än den lilla bekantskapet med de statiska diagrammen klassdiagram från kmom02. Jag tror det är jättebra med både UML och untittester. Har tidigare försökt strukturera upp koden innan jag började koda, men har inte riktigt hittat en bra struktur för det. Har kollat flera videos och olika andra källor för att förstå UML och strukturen för att rita upp relationsdiagram, men jag har inte riktigt förstått. </p>
    
    <p>Accociation, där klass A innehåller (Has-a) klass B och där klass B överlever även om klass A inte finns. I detta fall t.ex. Deck innehåller Card. Även om Deck försvinner så kan Card användas/finnas. Även om den inte fyller någon funktion utan A. Till skillnad från Aggretions relation som mellan Hand och Card. Hand innehåller Card, och om Card försvinner kan inte Hand överleva. </p>

    <p>Får en känsla av att jag inte implementerar själva OO kodning. Just nu är det som att jag fortfarande tänker i form av funktion och därmed inte nyttjar OO. Tänkte på det när jag skulle skriva unittestet då jag bara tänkte på vilka funktioner jag kunde kalla på och få vilket resultat. Skulle vilja öva på grundläggande nivå, men vet inte riktigt hur det skulle göras.</p>

    <p>Roligt kursmoment! Det var lagom svårt. Det jag kan tycka är extra svårt är att begränsa mig. Flera gånger fastnar jag i hur koden skulle se ut om jag inte hårdkodade vissa grejer. Tänk om detta var ett stort-spel tänket. Tänker att det såklart är bra, men att vissa moment behöver bara göras. Även om det blir "fult". </p>
    <a href="#top">Upp > </a>

    <h3 id="kmom04">Kmom04</h3>
    <p>Text kommer allt eftersom </p>
    <a href="#top">Upp > </a>
    <h3 id="kmom05">Kmom05</h3>
    <p>Text kommer allt eftersom </p>
    <a href="#top">Upp > </a>
    <h3 id="kmom06">Kmom06</h3>
    <p>Text kommer allt eftersom </p>
    <a href="#top">Upp > </a>
    <h3 id="kmom07-10">Kmom07-10</h3>
    <p>Text kommer allt eftersom </p>
    <a href="#top">Upp > </a>
        </div>
</div>

{% include 'footer.html' %}
